<nav class="navbar fixed-top navbar-expand-lg animated fadeInDown navbar-dark">
  <a class="navbar-brand" routerLink="/">ANURAG GUPTA</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse hidden-sm" id="navbarTogglerDemo01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active dropdown-toggle position-relative" data-toggle="dropdown">
        <a class="nav-link">Projects</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" target="_blank" style="margin-right: 4px;" (click)="$event.stopPropagation()" href="https://github.com/theanuraggupta">Github</a>
          <a class="dropdown-item" style="margin-left: 4px;" routerLink="/projects" (click)="$event.stopPropagation()">In Site</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="mailto:email@anuraggupta.in?Subject=Hello%20Anurag">Contact</a>
      </li>
      <!-- <li class="dropdown">
        <button class="btn btn-xs btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Themes
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>