<div class="container homepage animated fadeIn vertical-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-md">
        <h1 class="left">
          <span class="highlight">Hello,</span>
          I'm a user interface
          <br>
          developer based in Bengaluru, India.
        </h1>
        <h3>Currently working full time at Innominds, previously at the Infosys.</h3>
        <a target="_blank" href="https://github.com/theanuraggupta">
          <button class="btn btn-primary" type="button">
            Explore Github
          </button>
        </a>
        <a href="mailto:anuraggupta.hits@gmail.com?Subject=Hello%20Anurag">
          <button class="btn btn-secondary" type="button">
            Contact Me
          </button>
        </a>
      </div>
    </div>
  </div>