<main-header></main-header>
<div id="main">
    <router-outlet></router-outlet>
</div>
<nav class="navbar fixed-bottom navbar-expand-lg fadeInDown navbar-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
            <li class="nav-item active hidden-lg">
                <a class="nav-link" target="_blank" href="https://github.com/anurag01gupta">Projects</a>
            </li>
            <li class="nav-item active hidden-lg">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item active hidden-lg">
                <a class="nav-link" href="mailto:email@anuraggupta.in?Subject=Hello%20Anurag">Email</a>
            </li>
            <li class="nav-item active hidden-sm">
                <a class="nav-link" target="_blank" href="https://www.instagram.com/anurag01gupta/">Instagram</a>
            </li>
            <li class="nav-item active hidden-sm">
                <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/anurag-in-india/">LinkedIn</a>
            </li>
            <li class="nav-item active hidden-sm">
                <a class="nav-link" href="mailto:email@anuraggupta.in?Subject=Hello%20Anurag">Email</a>
            </li>
        </ul>
    </div>
</nav>

  
