$base:#fff !default;
$body-background: #323232;
$nav-background: #191919;
$sky-blue: #1bb1e8;
$slate-gray: slategray;
$navbar-link-hover: #eca300;
$green: #008000;

/// Relative or absolute URL where all assets are served from
$base-url: '/assets/' !default;