@import 
    'abstracts/variables',
    'abstracts/mixins';

@import
    'base/base';

@import
    'components/main-header';

    
@media screen and (min-width: 992px) {
    .navbar {
        background: transparent;
        .nav-link:hover::after {
            width: 100%;
        }
        .nav-link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: linear-gradient(to right, $navbar-link-hover 1%, $base 50%, $green 100%);
            transition: width 0.3s;
        }
    }
    .navbar, .social-bar {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 68px;
        padding: 0.5rem 4rem;
    }
}